.select-panel {
    min-width: 500px;
    width: fit-content;
    background: #fff;
    height: fit-content;
    border-radius: 35px;
    padding: 35px;
    box-shadow: 0 0 10px #00000047;
    margin: 0 auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.select-panel h2 {
    text-align: center;
    color: #34ace0;
}

.select-panel .device-list {
    border: 1px solid #00000014;
    border-bottom: 0;
    width: 100%;
    /* box-shadow: 0 0 5px #00000047; */
    /* border-bottom: 1px solid #00000014; */

}

.select-panel .device-list .device {
    padding: 5px 10px;
    line-height: 2em;
    text-align: center;
    border-bottom: 1px solid #00000014;
}

.select-panel .device-list .device:hover{
    background: #706fd3;
    color: white;
    cursor: pointer;
}