.field {
    margin-bottom: .5em;
}

.menu .item h2{
    color: #34ace0;
}

.main-dashboard {
    margin: 1em auto;
    width: 90vw;
    background: transparent;
}

.card .content strong, .card-wrap .content strong {
    font-weight: 800;
}

.card-wrap {
    padding: .6em;
    margin-bottom: 1em;
    background: #fff;
    box-shadow: 0 0 5px #00000042;
    border-radius: 6px;
}

.loader img{
    width: 100px;
    height: 100px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.loader {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}