.field {
    margin-bottom: .5em;
}

.menu .item h2{
    color: #34ace0;
}

.main-dashboard {
    margin: 1em auto;
    width: 90vw;
    background: transparent;
}

.card .content strong {
    font-weight: 800;
}