[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-headers = "*"
django = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
elasticsearch-dsl = "*"
django-elasticsearch-dsl = "*"
django-elasticsearch-dsl-drf = "*"

[requires]
python_version = "3.7"
