.form-login{
    width: fit-content;
    min-width: 30em;
    height:fit-content;
    align-self: "center";
    justify-content: "center";
    align-items: "center";
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 15px #0000002e;
    margin: 0 auto;
    position: relative;
    background: #fff;
}

.form-login h1{
    color: #34ace0;
    text-align: center;
    padding-bottom: .5em;
    border-bottom: 1px solid #00000012
}